



<div class="container-login">
  
    <article class="formLogin">
      <header>
          <h1 class="title">Altere sua senha aqui </h1>
      </header>
  
      <aside>
  
          <form class="form"> 
              <div class="mb-3">
                  <label style="font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; color: #000000;" class="form-label"> Email </label>
                  <input type="email" placeholder="Insira seu e-mail cadastrado" class="form-control" [(ngModel)]="username" name="username" required/>
              </div>
  
              <div class="mb-3">
                  <label style="font-family: 'Poppins'; font-style: normal; font-weight: 400; font-size: 16px; line-height: 24px; color: #000000;" class="form-label" >Nova Senha </label>
                  <input placeholder="Insira sua nova senha" type="password" class="form-control" [(ngModel)]="newPassword" name="newPassword" required/>
              </div>

              <div  class="mb-3 form-check">
                <p class="question"> Faça login novamente |<a class="link"  href="/login"> Login</a> </p>
            

            </div>

          
             
  
              <button class="btn-aceesar" [disabled]="!username || !newPassword" (click)="reset_password_container()">Redefinir Senha</button>
  
          </form>
      </aside>
  </article>

  
  <div class="fundo">
      <div class="principal">
        <h1 class="titulo">MEDCARDS <img
            src="icons/logo.png"
            alt="Logo FlashCards"
            style="height: 130px;"
          /></h1>
        <p class="texto"> Desbloqueie o conhecimento com nossos flashcards inteligentes.</p>
        <a href="/landingpage" class="button-assin">Assine Já</a>
        
      </div>
    </div>

</div>



