<br>
<div class="container">
    <div class="row">
        <div class="col-lg-12">

            <div class="card">
                
                
                <div class="card-body">
                    <h1 style="text-align: center;"> Listagem de SubMaterias </h1>
                    @if (esconderBotoes){}
                    @else {
                     <button type="button" class="btn btn-primary btn-rounded mb-2" mdbRipple (click)="new()" routerLinkActive="router-link-active" >Novo +</button>
                    <button type="button" class="btn btn-success btn-rounded mb-2 ms-2 float-end" mdbRipple (click)="materiasList()" routerLinkActive="router-link-active" > <- Matérias</button>
                }
                   
                    <table border=1 class="table table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nome</th>
                                <th>Matéria</th>
                                <th></th>

                            </tr>
                        </thead>

                        <tbody>
                            @for (submateria of lista; track $index) {
                            <tr>
                                <td> {{submateria.id}} </td>
                                <td> {{submateria.nome}} </td>
                                @if (submateria.materia) {
                                <td> {{submateria.materia.nome}} </td>
                            } @else {
                                <td> Não ha nenhuma matéria vinculada </td>
                            }
                            @if (esconderBotoes) {
                                <td> <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="select(submateria)" routerLinkActive="router-link-active" >Selecionar</button> </td>
                            } @else {
                                <td> <button type="button" class="btn btn-primary btn-rounded" mdbRipple (click)="edit(submateria)" routerLinkActive="router-link-active" >Editar</button> </td>
                                <td> <button type="button" class="btn btn-danger btn-rounded" mdbRipple (click)="deleteById(submateria)">Deletar</button> </td>}
                            </tr>
                        }
                        </tbody>
                    </table>

                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #modalSubmateriaDetalhe>
<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Cadastro SubMatérias</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body">
    <app-submateriasdetails [submateria]="submateriaEdit" (retorno)="retornoDetalhe($event)"></app-submateriasdetails>
  </div>
 
</ng-template>










