<br>
<div class="container">
    <div class="row">
          <div class="col-lg-12"> 
            <div class="card">
                
                <div style="text-align: center;" class="card-body">
                    <h1> Cadastrar de Matérias: </h1>

                    <form #formulario="ngForm">
                  
                      <mdb-form-control class="mb-4">
                        <input mdbInput type="text" name="materia" required class="form-control" [(ngModel)]="materia.nome" />
                        <label mdbLabel class="form-label" for="materia">Matéria</label>
                      </mdb-form-control>
                      <mdb-form-control class="mb-4">
                        <input mdbInput type="text" name="descricao" required class="form-control" [(ngModel)]="materia.descricao" />
                        <label mdbLabel class="form-label" for="descricao">Descrição</label>
                      </mdb-form-control>
                      <mdb-form-control class="mb-4">
                        <input mdbInput type="text" name="base64"  required class="form-control" [(ngModel)]="materia.base64" />
                        <label mdbLabel class="form-label" for="base64">Imagem</label>
                      </mdb-form-control>

                    
                      <button [disabled]="!formulario.valid" mdbRipple type="button" class="btn btn-primary btn-block" (click)="save()">Salvar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>    


