<div class="configuracoes">

    <div class="wrap-config">


        <div class="change-password">
            <h2 class="title-config">Deseja trocar de Senha?</h2>
            <p class="text-config">Ao clicar no botão abaixo, enviaremos um link com a redefinição de senha para seu e-mail. Pode acompanhar por la.</p>
            <a class="link" href="/reset-password"><button class="button-config"> Redefinir senha </button></a>
        </div>

        <div class="suporte-config">

            <h2 class="title-suporte">Precisa de ajuda? Contate nosso suporte</h2>
            <ul class="lista-suporte">
                <li class="text-suporte"><a style="text-decoration: none;" href="https://www.instagram.com/medcardsrevalida"> &#64;medcardsrevalida </a> </li>
            </ul>

        </div>

        <div class="change-password">
            <h2 class="title-config">Deseja sair?</h2>
            <p class="text-config">Para trocar de conta clique aqui</p>
            <a href="/"><button class="button-config"> Sair </button></a>
        </div>

    </div>

    <footer class="footer-config"></footer>
</div>

